.App {
  text-align: center;
}

.text-brand{
  color:#61dafb;
}
.btn-brand{
  background-image: linear-gradient(75deg, #19d3ae,#0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

